@import "includes/normalize.scss";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}

:root{
	--wrapper: 1800px;
}

.wrapper{
	max-width: calc(var(--wrapper) + 30px);
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

html{
	scroll-behavior: smooth;
}
main{
	overflow: hidden;
}
img{
	display: block;
}

